.card-container{
    margin-left: auto;
    margin-right: auto;
    width: 27.5%;
    border-radius:10px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    & p {
        text-align: left;
    }
    
    & .description-header {
        font-weight: bold;
        padding-left: 10px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    & .description-body {
        text-align: left;
        padding: 10px;
    }
    
    & .information {
        padding: 20px;
    }
    
    & img {
        height: auto;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    & .liked {
        background-color: #0583D2;
        color: white;
    }

    & .default {
        background-color: white;
        color: black;
    }
}