<div class="card-container">
    <img src={{imageObject.url}}>
    <div class="information">
        <div class="row">
            <p class="description-header col-12">
                {{imageObject.title}} - {{imageObject.date}}
            </p>
        </div>
        <div class="row">
            <p class="description-body">
                {{imageObject.explanation}}
            <p>
        </div>
        <button type="button" (click)="toggleLike()" class= "btn btn-outline-secondary" [ngClass]="{'liked': liked, 'default': !liked}">Like</button>
    </div>
</div>